div{
    display: block;
    margin: 2.5px 0;
}
div label, div input{
    display: inline-block;
}
div label{
    width: 15%;
    margin-left: 4%;
}
div input{
    width: 75%;
    margin-right: 4%;
}
button{
    float: right;
    margin: 5px 5% 20px 0;
    width: 20%;
    font-size: 1em;
    background-color: green;
    color: white;
}
#error{
    margin-left: 19%;
    color: red;
}